<li class="nav-header"><h4><i class="icon-tags icon-large"></i>Mots-clés</h4>
<span class="tag-1">
	<a href="http://traductions.sploing.fr/philosophie.html">
		<i class="icon-tag icon-large"></i>philosophie
	</a>
</span>
<span class="tag-1">
	<a href="http://traductions.sploing.fr/code.html">
		<i class="icon-tag icon-large"></i>code
	</a>
</span>
<span class="tag-1">
	<a href="http://traductions.sploing.fr/libriste.html">
		<i class="icon-tag icon-large"></i>libriste
	</a>
</span>
</li>