<footer class="post-info">
<span class="label">Date</span>
<abbr class="published" title="{{ article.date.isoformat() }}">
	<i class="icon-calendar"></i>{{ article.locale_date }}
</abbr>
<span class="label">Source</span>
{{ article.source }}
{% if article.author %}
<span class="label">Écrit par</span>
<a href="{{ SITEURL }}/{{ article.author.url }}"><i class="icon-user"></i> {{ article.author }}</a>
{% endif %}
{% if article.traducteur %}
<span class="label">Traduit par</span>
<a href="{{ SITEURL }}/{{ article.traducteur.url }}"><i class="icon-user"></i> {{ article.traducteur }}</a>
{% endif %}
<span class="label">Catégorie</span>
<a href="{{ SITEURL }}/{{ article.category.url }}"><i class="icon-folder-open"></i> {{ article.category }}</a>
<span class="label">Licence</span>
{{ article.license }}
<span class="label">Partage</span>
{% if TWITTER_USERNAME %}
<a href="http://twitter.com/home?status=%C3%80%20lire%3A%20{{ article.title|striptags|urlencode}}%20{{ SITEURL }}/{{ article.url }}"><i class="icon-twitter"></i> Touiter</a>
{% endif %}
{% if FACEBOOK_USERNAME %}
<a href="http://www.facebook.com/sharer.php?t={{ article.title|striptags|urlencode }}&amp;u={{ SITEURL }}/{{ article.url }}"><i class="icon-facebook"></i> Féissebouquer</a>
{% endif %}
{% if PDF_GENERATOR %}
<span class="label">
<a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
</span>
{% endif %}
	
{% include 'taglist.html' %}
{% include 'translations.html' %}
</footer><!-- /.post-info -->
