{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block headers %}
    <meta name="author" content="{{ article.author|e }}" />
    <meta name="author" content="{{ article.traducteur|e }}" />
    <meta name="description" content="{{ article.summary|striptags }}" />

    {% set open_graph = { 
        'fb:admins': FACEBOOK_USERNAME, 
	'og:site_name': SITENAME,
	'og:type': 'article',
        'og:title': '%s - %s' % (article.title|striptags, SITENAME),
        'og:description': article.summary|striptags,
        'og:url': '%s/%s' % (SITEURL, article.url)
        }
    %}
{% for property, content in open_graph.iteritems() %}
    <meta property="{{ property }}" content="{{ content }}"/>
{% endfor %}
{% endblock %}
{% block content %}
<section id="content">    
	<article>
		<header>
			<h1>
				<a href="{{ pagename }}"
					rel="bookmark" 
					title="Lien permanent pour {{ article.title|striptags }}">
					{{ article.title|striptags}} 
				</a>
			</h1> 
		</header>
		<div class="entry-content">
		<div class="well">
			{% include 'article_infos.html' %}
		</div>
		{{ article.content }}
		</div><!-- /.entry-content -->
	</article>
</section>
{% endblock %}
