<!DOCTYPE html>
<html   lang="fr"
	prefix="fb: http://www.facebook.com/2008/fbml"
	xmlns="http://www.w3.org/1999/xhtml" 
>
  <head>
	<meta charset="utf-8">
  <!-- Le styles -->
  <link href="{{ SITEURL }}/theme/css/html4css1.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.css" type="text/css" />
  <link href="{{ SITEURL }}/theme/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/css/font-awesome.css" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/css/local.css" rel="stylesheet">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

{% block headers %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="author" content="{{ TRADUCTEUR }}" />
    <meta name="description" content="Rassemblement de diverses traductions effectuées pour tout ou partie par Xavier Gillard" />

    {% set open_graph = { 
        'fb:admins': FACEBOOK_USERNAME, 
	'og:site_name': SITENAME,
	'og:type': 'website',
        'og:title': SITENAME,
        'og:url': SITEURL
        }
    %}
{% for property, content in open_graph.iteritems() %}
    <meta property="{{ property }}" content="{{ content|e }}"/>
{% endfor %}
{% endblock headers %}

  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ SITEURL }}/index.html">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
          <div class="fcnav-collapse">
            <ul class="nav">
              {% for title, link in MENUITEMS %}
                  <li><a href="{{ link }}">{{ title }}</a></li>
              {% endfor %}
              {% if DISPLAY_PAGES_ON_MENU %}
              {% for page in PAGES %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
              {% endfor %}
			  <li class="divider-vertical"></li>
              {% endif %}
              {% for cat, null in categories %}
                  <li {% if cat == category %}class="active"{% endif %}>
                    <a href="{{ SITEURL }}/categorie/{{ cat }}.html">
						<i class="icon-folder-open icon-large"></i>{{ cat }}
					</a>
                  </li>
              {% endfor %}
			  
			  <li class="nav pull-right">
				<a href="{{ SITEURL }}/archives.html"><i class="icon-th-list"></i>Archives</a></li>
			  
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
            {% block content %}
            {% endblock %}
        </div><!--/span-->
      
		<div class="span3" id="sidebar">
            <div class="well">
                <div class="sidebar-nav">
                    {% include 'sidebar.html' %}
                </div>
            </div>
        </div><!--/.well -->

      </div><!--/row-->

      <hr>

      <footer class="small">
        <address id="about">
          <p>Propulsé par <a href="http://pelican.notmyidea.org/">Pelican <i class="icon-external-link"></i></a>, basé sur <a href="http://python.org">Python <i class="icon-external-link"></i></a>. Le thème est inspiré de <a href="http://twitter.github.com/bootstrap/">Bootstrap de Twitter <i class="icon-external-link"></i></a>, et de <a href="http://fortawesome.github.com/Font-Awesome/">Font-Awesome <i class="icon-external-link"></i></a>, merci à eux!</p>
        </address><!-- /#about -->
	</footer>

    </div><!--/.fluid-container-->

    {% include 'piwik.html' %}


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ SITEURL }}/theme/js/jquery.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap-transition.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap-alert.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap-modal.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap-dropdown.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap-scrollspy.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap-tab.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap-tooltip.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap-popover.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap-button.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap-collapse.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap-carousel.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap-typeahead.js"></script>
	<!--<script src="{{ SITEURL }}/theme/js/autosidebar.js"></script>-->
	
  </body>
</html>

