{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
	{% for article in (articles_page.object_list if articles_page else articles) %}
	<div class='article well'>
		<h1 class="small"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
		<div class="small">{% include "article_infos.html" %}</div>
		<div class="summary small">{{ article.summary }} 
		</div>
	</div>	
	<hr />
	{% endfor %}
{%endif%}

	{% if articles_page and articles_paginator.num_pages > 1 %}
	<div class="pagination">
	<ul>
		{% if articles_page.has_previous() %}
			{% set num = articles_page.previous_page_number() %}
			<li class="prev"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">&larr; Précédent</a></li>
		{% else %}
			<li class="prev disabled"><a href="#">&larr; Précédent</a></li>
		{% endif %}
		{% for num in range( 1, 1 + articles_paginator.num_pages ) %}
			<li class="{{ 'active' if num == articles_page.number else '' }}"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a></li>
		{% endfor %}
		{% if articles_page.has_next() %}
			<li class="next"><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Suivant &rarr;</a></li>
		{% else %}
			<li class="next disabled"><a href="#">&rarr; Suivant</a></li>
		{% endif %}
	</ul>
	</div>

{% else %}
	{% if PAGES %}
		<section id="content" class="body">    
		<h1>Pages</h1>
		{% for page in PAGES %}
			<li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
		</section>
	{% endif %}
{% endif %}
{% endblock content %}
