{% if GOOGLE_CUSTOM_SEARCH_SIDEBAR %}
<li class="nav-header"><h4><i class="icon-search"></i>Recherche Google</h4></li>
<div id="cse" style="width: 100%;">En chargement</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1');
  google.setOnLoadCallback(function() {
    var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
      '{{GOOGLE_CUSTOM_SEARCH_SIDEBAR}}', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
{% endif %}
