<ul class="nav nav-list">
{% if LINKS %}
<li class="nav-header"><h4><i class="icon-external-link"></i>Copains</h4></li>
{% for name, link in LINKS %}
    <li><i class="icon-external-link"></i><a href="{{ link }}">{{ name }}</a></li>
{% endfor %}
{% endif %}
{% if SOCIAL %}
<li class="nav-header"><h4><i class="icon-user icon-large"></i>Social</h4>
{% block feed %}
<li><a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" rel="alternate"><i class="icon-rss icon-large"></i>flux atom</a></li>  
{% endblock %}
{% for name, link in SOCIAL %}
    <li><a href="{{ link }}"><i class="icon-{{ name }}-sign icon-large"></i>{{ name }}</a></li>
{% endfor %}
{% endif %}

<li class="nav-header"><h4><i class="icon-folder-close icon-large"></i>Catégories</h4>
{% for cat, null in categories %}
<li>
<a href="{{ SITEURL }}/categorie/{{ cat }}.html"><i class="icon-folder-open icon-large"></i>{{ cat }}</a>
</li>
{% endfor %}

{% include 'tags.html' %}
{% if APROPOS %}
<li class="nav-header"><h4><i class="icon-info-sign icon-large"></i>À propos</h4></li>
{% for name, link, icon in APROPOS %}
    <li><a href="{{ link }}"><i class="{{ icon }} icon-large"></i>{{ name }}</a></li>
{% endfor %}
{% endif %}

{% if LIVRES %}
<li class="nav-header"><h4><i class="icon-book icon-large"></i>Livres traduits</h4></li>
{% for name, link in LIVRES %}
    <li><a href="{{ link }}"><i class="icon-external-link icon-large"></i>{{ name }}</a></li>
{% endfor %}
{% endif %}

{% if SIDEBAR_CUSTOM %}
    {{ SIDEBAR_CUSTOM }}
{% endif %}
</ul>
