<li class="nav-header"><h4><i class="icon-tags icon-large"></i>Mots-clés</h4>
{% for tag in tag_cloud %}
<span class="tag-{{ tag.1 }}">
	<a href="{{ SITEURL }}/{{ tag.0 }}.html">
		<i class="icon-tag icon-large"></i>{{ tag.0 }}
	</a>
</span>
{% endfor %}
</li>
